table {
    /* background-color: antiquewhite; */
    border-color: black;
}

th {
    background-color: azure;
}

tr {
    background-color: whitesmoke;
}

body {

    background-color: brown;

}